@{
    ViewData["Title"] = "ForgotPassword";
}
<div class="login-register-wrapper section-padding">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-reg-form-wrap signup-form">
                        <form method="post">
                            <div class="col-md-12 col-12 mb--15">
                                <label for="Email">Enter your Email here...</label>
                                <input class="mb-0 form-control" name="Email" id="UserName">
                            </div>
                            <br />
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outlined">Send reset password link</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


