@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}
<div class="breadcrumb-area bg-img" data-bg="/Manage/Assets/img/Background-color-shop.png">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h1 class="breadcrumb-title">Reset Password</h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
                            <li class="breadcrumb-item"><a asp-action="index" asp-controller="shop">Shop</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-register-wrapper section-padding">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-reg-form-wrap signup-form">
                        <h2>Sign up</h2>
                        <form method="post">
							<div class="col-md-12 col-12 mb--15">
								<label asp-for="Password">Enter your Password</label>
								<input class="mb-0 form-control" asp-for="Password">
								<span class="text-danger" asp-validation-for="Password"></span>
							</div>
							<div class="col-md-12 col-12 mb--15">
								<label asp-for="ConfirmPassword">Enter your Password again</label>
								<input class="mb-0 form-control" asp-for="ConfirmPassword">
								<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
							</div>
                            <input type="hidden" name="Email" value="@TempData["Email"]" />
                            <input type="hidden" name="Token" value="@TempData["Token"]" />
							<div class="col-md-12 col-12 mb--15">
								<div class="text-danger" asp-validation-summary="ModelOnly"></div>
								</div>
							<div class="col-md-12">
								<button type="submit" class="btn btn-outlined">Reset Password</button>
							</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


